.down-card{
  max-width: 1400px;
  height: 800px;
  margin: 50px;
  background-color:rgb(217, 234, 243)
}
.vendor-name{
  left:100px;
  top: 50px;
}
.date{
  right:100px;
  bottom:0px
}
.name{
  left:100px;
  top: 50px;
}
.amount{
  right:100px;
  bottom:0px
}
.address{
  left:100px;
  top: 50px;
}
.gst{
  right:100px;
  bottom:0px
}
.mobile{
  left:100px;
  top: 50px;
}
.download{
  left:550px;
  top:150px
}
.Save{
  left:650px;
  top:150px
}
