<!-- <p>download-page works!</p> -->
<!-- <mat-card class="down-card">
  <form>
  <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-between start" class="first">
    <mat-form-field class="vendor-name" appearance="fill">
      <input matInput type="text" placeholder="Vendor Name">
    </mat-form-field>
    <mat-form-field class="date" appearance="fill">
      <input matInput type="date" placeholder="Invoice Date">
    </mat-form-field> -->
    <!-- <mat-form-field class="name" appearance="fill">
      <input matInput type="text" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="address" appearance="fill">
      <input matInput type="text" placeholder="Address">
    </mat-form-field>
    <mat-form-field class="mobile" appearance="fill">
      <input matInput placeholder="Mobile Number">
    </mat-form-field>
  </div> -->
  <!-- <div class="second" fxLayout="column" fxLayoutAlign="space-between start">
    <mat-form-field class="date" appearance="fill">
      <input matInput type="date" placeholder="Invoice Date">
    </mat-form-field>
    <mat-form-field class="amount" appearance="fill">
      <input matInput placeholder="Total Amount">
    </mat-form-field>
    <mat-form-field class="gst" appearance="fill">
      <input matInput type="text" placeholder="GST">
    </mat-form-field>
  </div> -->
<!-- </mat-card> -->
<mat-card class="down-card">
  <div class="container">
    <div class="row">
      <div class="vendor">
        <mat-form-field class="vendor-name"  appearance="fill">
        <input matInput type="text" placeholder="Vendor Name">
      </mat-form-field>
      </div>
      <div class="date" >
        <mat-form-field class="date" fxLayoutAlign="end" appearance="fill">
        <input matInput type="date" placeholder="Date">
      </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="name">
        <mat-form-field class="name"  appearance="fill">
          <input matInput placeholder="Name">
        </mat-form-field>
      </div>
      <div class="amount" >
        <mat-form-field class="amount" fxLayoutAlign="end" appearance="fill">
        <input matInput placeholder="Amount">
      </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="address">
        <mat-form-field class="address"  appearance="fill">
          <input matInput type ="text" placeholder="Address">
        </mat-form-field>
      </div>
      <div class="gst" >
        <mat-form-field class="gst" fxLayoutAlign="end" appearance="fill">
        <input matInput placeholder="GST">
      </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="mobile">
        <mat-form-field class="mobile" appearance="fill">
          <input matInput placeholder="Mobile Number">
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-raised-button class="download" color="primary">Download</button>
  <button mat-raised-button class="Save" color="primary">Save</button>

</mat-card>
